

<% @movies.each do |movies| %>
<section class="movies">
	<div class="summary">
		<h2>
			<%=movies.title%>
		</h2>
		<h3>
			<%= total_gross(movies) %>
		</h3>
	<p> 
		<%=truncate(movies.description, length:20, seperator: ' ')%>
	</p>
	<p> <%=year_of(movies)%></p>
	</div>
</section>
<%end%>


